/* Alert */
.alert {
    position: fixed;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);

    background-color: var(--white-color);
    border: 2px solid var(--grey-lighter-color);
    padding: 1.5rem 4rem 1.5rem 2rem;
    border-radius: 6px;

    min-width: 620px;
    font-family: var(--font-demi);
    font-size: var(--font-size-normal);

    transition: transform 0.5s ease-in-out;
    z-index: 500;
}

.alert > #closeAlertButton {
    position: absolute;
    top: 46%;
    right: 0.5rem;
    transform: translateY(-50%);

    padding: 0.5rem;
    cursor: pointer;
}

.alert.success {
    border-color: var(--success-color);
    color: var(--success-color);
    background-color: var(--success-bg-color);
}

.alert.info {
    border-color: var(--info-color);
    color: var(--info-color);
    background-color: var(--info-bg-color);
}

.alert.warning {
    border-color: var(--warning-color);
    color: var(--warning-color);
    background-color: var(--warning-bg-color);
}

.alert.danger {
    border-color: var(--danger-color);
    color: var(--danger-color);
    background-color: var(--danger-bg-color);
}

.alert.hidden {
    animation-name: slideOut;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

.alert.show {
    animation-name: slideIn;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes slideOut {
    0% {
        top: 2rem;
    }

    100% {
        top: -200px;
    }
}

@keyframes slideIn {
    0% {
        top: -200px;
    }

    100% {
        top: 2rem;
    }
}

@media (max-width: 640px) {
    .alert {
        min-width: 0;
        width: 90%;
    }
}
