/* Estilos generales */
*::selection {
    background-color: var(--tertiary-color);
    color: var(--black-color);
}

body {
    font-family: var(--font-regular);
}

main {
    width: 80%;
    max-width: 1342px;
    margin: calc(80px + 40px) auto calc(80px - 40px);
}

h1 {
    font-family: var(--font-bold);
    font-size: var(--font-size-jumbo);
    line-height: 1.5;
}

img {
    width: 100%;
}

.types {
    display: flex;
    flex-flow: row nowrap;
}

.pokemon-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.voidList {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-normal);
    color: var(--grey-dark-color);
}

.video h1 {
    margin-bottom: 1.5rem;
}

video {
    border-radius: 16px;
    box-shadow: var(--card-shadow);
}

@media (max-width: 1100px) {
    main {
        margin: calc(70px + 20px) auto calc(70px - 20px);
    }
}

@media (max-width: 960px) {
    video {
        aspect-ratio: 3 / 4;
        object-fit: cover;
        object-position: 55% center;
    }
}

@media (max-width: 640px) {
    main {
        /* margin: calc(70px + 20px) auto calc(70px - 20px); */
        width: 90%;
    }

    .video h1 {
        margin-bottom: 1rem;
    }
}