/* Icons font config*/
.icon {
    font-family: "icons";
    font-weight: normal;
    font-style: normal;

    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    text-decoration: inherit;
    color: inherit;

    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add::before {
    content: "\f101";
}

.icon-alert::before {
    content: "\f102";
}

.icon-arrow_sm_down::before {
    content: "\f103";
}

.icon-arrow_sm_left::before {
    content: "\f104";
}

.icon-arrow_sm_right::before {
    content: "\f105";
}

.icon-arrow_sm_up::before {
    content: "\f106";
}

.icon-badges::before {
    content: "\f107";
}

.icon-body::before {
    content: "\f108";
}

.icon-cards::before {
    content: "\f109";
}

.icon-cautionsymbol::before {
    content: "\f10a";
}

.icon-check::before {
    content: "\f10b";
}

.icon-checkmark::before {
    content: "\f10c";
}

.icon-clothing::before {
    content: "\f10d";
}

.icon-collection::before {
    content: "\f10e";
}

.icon-create_avatar::before {
    content: "\f10f";
}

.icon-double::before {
    content: "\f110";
}

.icon-download::before {
    content: "\f111";
}

.icon-event::before {
    content: "\f112";
}

.icon-eye_closed::before {
    content: "\f113";
}

.icon-eye_open::before {
    content: "\f114";
}

.icon-female_symbol::before {
    content: "\f115";
}

.icon-filter_height_large::before {
    content: "\f116";
}

.icon-filter_height_medium::before {
    content: "\f117";
}

.icon-filter_height_small::before {
    content: "\f118";
}

.icon-filter_weight_large::before {
    content: "\f119";
}

.icon-filter_weight_medium::before {
    content: "\f11a";
}

.icon-filter_weight_small::before {
    content: "\f11b";
}

.icon-friends::before {
    content: "\f11c";
}

.icon-gender::before {
    content: "\f11d";
}

.icon-hamburger::before {
    content: "\f11e";
}

.icon-home::before {
    content: "\f11f";
}

.icon-journal::before {
    content: "\f120";
}

.icon-joystick::before {
    content: "\f121";
}

.icon-male_symbol::before {
    content: "\f122";
}

.icon-messages::before {
    content: "\f123";
}

.icon-minusv::before {
    content: "\f124";
}

.icon-multiply::before {
    content: "\f125";
}

.icon-notepage::before {
    content: "\f126";
}

.icon-plus::before {
    content: "\f127";
}

.icon-points_champ::before {
    content: "\f128";
}

.icon-points_game::before {
    content: "\f129";
}

.icon-pokeball::before {
    content: "\f12a";
}

.icon-pokedex_added::before {
    content: "\f12b";
}

.icon-pokemontv::before {
    content: "\f12c";
}

.icon-prize_bronze::before {
    content: "\f12d";
}

.icon-prize_gold::before {
    content: "\f12e";
}

.icon-prize_silver::before {
    content: "\f12f";
}

.icon-refresh::before {
    content: "\f130";
}

.icon-remove::before {
    content: "\f131";
}

.icon-search::before {
    content: "\f132";
}

.icon-settings::before {
    content: "\f133";
}

.icon-trade::before {
    content: "\f134";
}

.icon-videogame::before {
    content: "\f135";
}

.icon-wishlist::before {
    content: "\f136";
}

.icon-wrench::before {
    content: "\f137";
}

.icon-news::before {
    content: "\f138";
}

.icon-mobile::before {
    content: "\f139";
}

.icon-go::before {
    content: "\f13a";
    margin-right: 30px;
}

.icon-xmark {
    transform: rotate(45deg);
}

.icon-xmark::before {
    content: "\f127";
}

.icon-user::before {
	content: "\f13b";
}

.icon-pokemon-outlined::before {
	content: "\f13c";
}

.icon-pokeball-outlined::before {
	content: "\f13d";
    pointer-events: none;
}

.icon-pokeball-colored::before {
	content: "\f13e";
    pointer-events: none;
}

.icon-heart-outlined::before {
	content: "\f13f";
    pointer-events: none;
}

.icon-heart-colored::before {
	content: "\f140";
    pointer-events: none;
}

.icon-film-outlined::before {
	content: "\f141";
}

.icon-question-mark:before {
	content: "\f142";
}

.icon-filter:before {
	content: "\f143";
}
