/* Spinner loader */
#loader {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 200;

    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border: 16px solid var(--grey-lightest-color);
    border-top: 16px solid var(--primary-color);
    border-radius: 50%;

    animation: spin 2s linear infinite;
}

/* Animación del spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Desenfocar el contenido mientras se carga */
.loading #login-page {
    filter: blur(5px); /* Desenfoca el contenido */
    pointer-events: none; /* Evita la interacción con el contenido */
    opacity: 0.6; /* Añade un efecto de "pantalla tupida" */
}