/* Reset */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	list-style-type: none;
	text-decoration: none;
	color: inherit;
}

button {
    background-color: inherit;
    border: none;
}

input, select, textarea {
    background-color: transparent;
    border: none;
    outline: none;
}

select {
	appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
}

h1, h2, h3, h4, h5, p {
	font-size: inherit;
}