.tabs {
    display: flex;
    margin-bottom: 40px;
}

.tab {
    position: relative;
    width: 100%;
    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: var(--font-size-medium);
    font-family: var(--font-bold);
    text-align: center;

    border-bottom: 4px solid;
    border-radius: 6px 6px 0 0;

    cursor: pointer;
    overflow: hidden;
}

.tab span {
    position: relative;
    z-index: 5;
}

.tab::before {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 0;
}

.tab#wishlist {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.tab#wishlist::before {
    background-color: var(--primary-color);
    transition: 0.2s;
}

.tab#team {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.tab#team::before {
    background-color: var(--secondary-color);
    transition: 0.2s;
}

.tab.active span{
    color: var(--white-color);
}

.tab.active::before {
    height: 100%;
}