

/* Estilos del menú superior */


.navbar h1{
    color: #e9e4e4 ; /* Rojo de Marvel */
}

.navbar-right li {
    margin: 0 15px;
}

.navbar-right li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navbar-right li a:hover {
    color: #ffd700; /* Color dorado al pasar el mouse */
}

/* Dropdown menu (submenú) */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #838181;
    min-width: 100px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 10px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content a:hover {
    background-color: #f2f2f2; /* Color de fondo al pasar el mouse */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: #ffd700; /* Color dorado al pasar el mouse */
}

/* Spinner loader */
#loader {
    display: none; /* Oculto por defecto */
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 999; /* Asegura que se superponga al contenido */
    width: 60px;
    height: 60px;
    margin: -30px 0 0 -30px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    animation: spin 2s linear infinite;
}

/* Animación del spinner */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Desenfocar el contenido mientras se carga */
.loading #comicsContainer {
    filter: blur(5px); /* Desenfoca el contenido */
    pointer-events: none; /* Evita la interacción con el contenido */
    opacity: 0.6; /* Añade un efecto de "pantalla tupida" */
}

/* Estilos para la sección de búsqueda */

/* Estilos para la sección de ordenación */

/* Estilos para el indice de Pokemons */

/*.pokemon-container {

}
.card {

}

--Los estilos que consideréis necesarios--
*/

/* Estilos para el detalle Pokémon*/

/* Estilos para las listas de Pokemon */

/* Estilos para la login y registro */